.title{
    height :100px;
    font-size: 40px;
    background-color: rgb(31, 140, 241);
    line-height: 100px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
  
}


.col-2{
  background-color: rgb(255, 0, 0)
}


.btn{
  height :100px;
    font-size: 40px;
    line-height: 100px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}
  